*{
    background-color: cornsilk;
}

#genre-view{
    background-color: cornsilk;
}

#genre-card{
    background-color: cornsilk;
}

#button-main{
    background-color: darkseagreen;
    border: none;
    color: ivory;
   
}

#button-main:hover{
    background-color: seagreen;
}

#span-back{
    background-color: cornsilk;
}