#nav-main{
    background-color: darkseagreen;
}

#navbar-logo{
    font-family: 'Rubik Moonrocks', cursive;
}

#nav-link{
    background-color: darkseagreen;
    
}


#responsive-navbar-nav{
    background-color: darkseagreen;

}